@import url('/fonts/fonts.css');

html, body {
  font-family: 'AribauGrotesk', system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, .font-bold, .font-extrabold, .font-black {
  font-family: 'AribauGrotesk', system-ui, sans-serif;
  font-weight: 900;
} 