@font-face {
  font-family: 'AribauGrotesk';
  src: url('/fonts/AribauGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AribauGrotesk';
  src: url('/fonts/AribauGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'AribauGrotesk', system-ui, sans-serif;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, .font-bold, .font-extrabold, .font-black {
  font-family: 'AribauGrotesk', system-ui, sans-serif;
  font-weight: 900;
} 